<nav class="navbar fixed-bottom nav-bar-light bg-transparent">
    <div class="container-fluid">
        <h3>
           &copy; Copyright 2024 - Durham College - Ramiyan Gangatharan (100835223)
        </h3>
    </div>
</nav>