<link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="../../node_modules/@fortawesome/fontawesome-free/css/all.css">
<link rel="stylesheet" href="../../Content/app.css">

<script src="../../../Week_10_2/Scripts/namespace.js"></script>
<script src="../../../Week_10_2/Scripts/router.js"></script>
<script src="../../../Week_10_2/Scripts/contact.js"></script>
<script src="../../../Week_10_2/Scripts/user.js"></script>

        <h1>About Us</h1>


        <script src="../../node_modules/"></script>
        <script src="../../node_modules/jquery/dist/jquery.min.js"></script>
        <script src="../../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="../../Scripts/app.js"></script>