<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>

    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../node_modules/@fortawesome/fontawesome-free/css/all.css">
    <link rel="stylesheet" href="../client/Content/app.css">

    <script src="../client/Scripts/namespace.js"></script>
    <script src="../client/Scripts/router.js"></script>
    <script src="../client/Scripts/contact.js"></script>
    <script src="../client/Scripts/user.js"></script>


</head>
<body>
<header></header>

<main class="container"><%= title %></main>

<footer></footer>
</body>
<script src="../node_modules/jquery/dist/jquery.min.js"></script>
<script src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="../client/Scripts/app.js"></script>
</html>